fastapi
uvicorn
httpx
redis
langgraph
langchain-core
pillow
python-dotenv
qdrant-client
FlagEmbedding
jieba
rank_bm25
sentence-transformers==2.7.0
einops
transformers==4.42.4
tokenizers==0.19.1
pydantic
neo4j
mcp[cli]
matplotlib
